@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Create a custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #8889;
  backdrop-filter: blur(64px);
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #8885;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border: 1px solid #29252430;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-track {
  border: 1px solid #292524;
}

/* Hover effects */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #888;
}


body {
  background: #d6d3d1;
  overflow-x: hidden;
}

h2 {
  opacity: 0.9;
}

h3 {
  opacity: 0.8;
}

h4 {
  opacity: 0.7.5;
}

p,
li {
  opacity: 0.9;
}

/* li::before {
  content: "- ";
} */

td {
  opacity: 0.9;
}

a {
  opacity: 0.9;
}

.dark body {
  background: #100a06;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.blur {
  filter: blur(20);
}

@media (min-width: 768px) {

  .blur {
    filter: blur(0);
  }
}

.infinite-vertical-scroll {
  animation: infinite-vertical-scroll 20s linear infinite;
}

@keyframes infinite-vertical-scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@layer components {
  .langingpage-container {
    @apply w-full md:max-w-[900px] md:w-full lg:max-w-[1000px] xl:max-w-6xl 2xl:max-w-7xl mx-auto relative;
    /* max-width: 1536px; */
  }

  .btn-primary {
    @apply bg-white/20 dark:bg-black/20 backdrop-blur-lg w-fit h-fit border-2 border-stone-600 dark:border-stone-800 py-3 px-6 rounded-full dark:text-orange-300 font-semibold;
  }

  .btn-secondary {
    @apply bg-stone-950 text-white w-fit h-fit border-2 border-orange-400/40 dark:border-orange-300/30 py-3 px-6 rounded-full font-semibold;
  }

}

@layer utilities {
  .theme-reverse-text {
    @apply text-gray-50 dark:text-gray-950;
  }

  /* 
  h1, h2, h3, h4, h5, p {
    @apply text-gray-800 dark:text-gray-400
  } */
}